.picker-page{
  display: flex;
  flex-direction: column;
  picker-view {
    width: 100%;
    height: 280PX;
    picker-view-column {
      text-align: center;
      font-size: 16PX;
      view {
        line-height: 50Px;
      }
    }
  }
  .handle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70PX;
    button {
      height: 40PX;
      font-size: 16PX;
      padding: 0 40PX 0 40PX;
      margin-left: 10PX;
      margin-right: 10PX;
    }
    .confirm {
      background-color: #07C160;
    }
    .cancel {
      background-color: #F2F2F2;
      color: #1AAD19;
    }
  }
}